@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Roboto, "Noto Sans JP", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .desc-card-w {
    width: calc(66.666667% + 4rem)
  }

  @media (min-width: 768px) {
    .desc-card-w {
      @apply w-2/3;
    }
  }

  @media (min-width: 1280px) {
    .desc-card-w {
      @apply w-1/3;
    }
  }
}

main {
  background: #FAF5F0;
  overflow: hidden;
}
